*{
    margin: 0%;
    padding: 0%;
    font-family: Lato;
}
/* first section starts here */
.section-1-container{
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-1-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
padding-bottom: 30px;
}
.section-1-des{
    width: 40%;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
padding-bottom: 30px;

}
.primary-btn{
    padding: 20px 45px;
    border-radius: 8px;
background: #E55473;
border: 0;
}
.section-img{
    padding-top: 50px;
}
#text-decoration{
    color: rgb(180, 41, 64);
}
.left-part{
    padding-left: 250px;
}
.right-part{
    padding-right: 250px;
}